body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  /* Background Logo */
  background-image: url("../atlas-logo.png");

  /* Fill entire screen */
  background-size: cover;

  /* Center image */
  background-position: center center;

  /* Stay fixed while scrolling */
  background-attachment: fixed;

  /* Prevent repeating */
  background-repeat: no-repeat;

  /* Fallback color */
  background-color: #000;
}

..challenge-image {
  width: 50%;
  max-width: 500px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}